
<div class="footer">
  <p>&copy; Copyright 2021. All Rights reserved. Developed by MD Faiaz, Kelvin Ong, Ji Hoon Lee</p>
</div>

<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
